[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/spurious/SDL-mirror
[submodule "vendor/glbinding"]
	path = vendor/glbinding
	url = https://github.com/cginternals/glbinding
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
